.root {
  position: relative;
  display: inline-block;
  line-height: 1;
  --size: 16px;
  --pct: 0%;
}

.layer {
  display: inline-flex;
  gap: 2px;
}

.icon {
  width: var(--size);
  height: var(--size);
}

.fg {
  position: absolute;
  inset: 0 auto 0 0;
  width: var(--pct);
  overflow: hidden;
  pointer-events: none;
}
