.root {
  position: relative;
  display: inline-block;
  line-height: 1;
  width: calc(var(--size) * 5 + 8px); /* 5 зірок + gap (4*2px) */
  height: var(--size);
  --size: 16px;
  --pct: 0%;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  gap: 2px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.bg {
  color: var(--gray); /* колір порожніх зірок */
}

.fg {
  width: var(--pct);
  color: #ffc531; /* колір заповнених зірок */
}

.icon {
  width: var(--size);
  height: var(--size);
  flex-shrink: 0;
}
