.wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap-sm);
  color: var(--black);
  font-family: var(--font-family);
}

.rating {
  display: inline-flex;
  align-items: center;
  gap: var(--gap-xs);
}

.reviews {
  color: var(--gray);
  font-size: var(--font-size-sm);
  text-decoration: none;
}
.reviews:hover {
  text-decoration: underline;
}

.location {
  color: var(--gray);
  font-size: var(--font-size-sm);
  display: inline-flex;
  align-items: center;
  gap: var(--gap-xs);
}
